doctype html
html(lang="en")
    head 
        include bootstrap
        script(src="javascripts/index.js") 
        title Homepage
    body 
        div.container
            nav.navbar.navbar-expand-sm
                img(src="images/front.png", width="120" alt="")
                ul.navbar-nav.d-flex.justify-content-end.w-100
                   li.nav-item
                     a.nav-link(href="#"
                     data-bs-toggle="modal"
                     data-bs-target="#login-modal") Login 
                   li.nav-item
                     a.nav-link(href="#"
                     data-bs-toggle="modal"
                     data-bs-target="#signup-modal"
                     ).btn.btn-primary.text-white.mx-3 Signup 
            div.py-3
                h1.display-1 JUST FOR CODE
                p An App To Handle coding Problems
            img.float-end(src="images/communicating-man.webp", width="50%" alt="")
            include signup
            include login